@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
:root {
    --pretu: #221F1F;
    --burmedju: #B20707;
    --branku: #ffffff;
    --sinzentu: #ffffffb3;
}

.contact_info > p > a > span {
    color: var(--branku);
    font-weight: bold;
}

.konpu_imaji {
    background-image: url('../imagens/dashboard-luxury-car-lights.jpg');
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: #eee;
}

.konpu_container_burmedju > p {
    color: var(--pretu);
    padding-left: 0;
}

.konpu_heading {
    padding-top: 1.5rem;
}

.faq {
    background-color: var(--pretu);
    color: var(--branku);
    padding: 6rem 9.5rem;
}

.faq_pirgunta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
}

.faq_pirgunta > p {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.faq_pirgunta > i {
    cursor: pointer;
}

.faq_container_un,
.faq_container_dos,
.faq_container_tres,
.faq_container_kuatu {
    border-bottom: 1px solid var(--branku);
}

.panel > p {
    color: #eee;
    padding-bottom: 2.5rem;
}

.panel {
    display: none;
    overflow: hidden;
}

.scroll {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: var(--burmedju); /* Set a background color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

.boton_subi_riba {
    background-color: var(--burmedju);
    color: var(--branku);
    border: none;
    cursor: pointer;
}
@media screen and (min-width: 280px ) and (max-width: 416px) {

    .konpu_container_burmedju {
        padding: 1rem 1.5rem;
    }

    .konpu_imaji {
        height: 40vh;
        width: 100%;
        background-size: contain;
        margin: 0;
    }

    .faq {
        padding: 3rem 2rem;
    }

    .faq_pirgunta > p {
        font-size: 1.7rem;
        line-height: 1.2;
    }

    
    
}