@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
:root {
    --pretu: #221F1F;
    --burmedju: #B20707;
    --branku: #ffffff;
    --sinzentu: #ffffffb3;
}

hr {
    background-color: var(--pretu);
}

.contact_info > p > a > span {
    color: var(--branku);
    font-weight: bold;
}

.konpu_heading {
    padding-top: 2rem;
}

.konpu_container_burmedju > .konpu_markason {
    font-weight: 300;
    padding-left: 0;
    color: var(--pretu);
}

.konpu_imaji {
    background-image: url(../imagens/front-car-lights-night-road.jpg);
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: #eee;
   
}

.section_info {
    background-color: #eee;
    padding: 6rem 9rem;
}

.section_info > h1 {
    font-size: 3.2rem;
    line-height: 1.0;
    text-transform: uppercase;
    color: var(--pretu);
}

.grid_info {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    padding: 4rem 0;
}

.grid_info > div {
    border-left: 1px solid var(--pretu);
    padding: 0 0 1.5rem 1.5rem;
}

.grid_info > div > h2 {
    text-transform: uppercase;
    color: var(--pretu);
    letter-spacing: 1.5px;
    font-size: 1.2rem;
    padding-bottom: .5rem;
}

.grid_kontakitu > h2 > a {
    color: var(--pretu);
}

.grid_markason > h2 {
    margin-bottom: 2rem;
}
.grid_markason > a {
    color: var(--branku);
    background-color: #221F1F;
    padding: 1rem 3rem;
    transition: .5s ease-in-out;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.grid_markason > a:hover {
    background-color: var(--burmedju);
}

.form_kontakitu {
    padding: 2rem 8.5rem;
    background-color: var(--pretu);
}

.form_kontakitu > h2 {
    color: var(--branku);
    text-transform: uppercase;
    padding: 5rem 0;
    font-size: 3.2rem;
    line-height: 1.1;
}

.form_kontakitu > h2 > span {
    color: var(--burmedju);
}

.contact_grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.name_input,
.phone_input, 
.email_input {
    padding-bottom: 1rem;
    font-size: 1rem;
    width: 100%;
}

.message_area {
    font-size: 1rem;
    width: 100%;
}

.btn_contact {
    padding: 1.2rem 4rem;
    color: var(--pretu);
    text-transform: uppercase;
    font-size: 1rem;
    cursor: pointer;
    transition: 1s ease-in-out;
    border: none;
    margin-bottom: 5rem;
    letter-spacing: 1.5px;
}

.btn_contact:hover {
    color: var(--branku);
    background-color: var(--burmedju);
}

.btn_contact > i {
    padding-left: .2rem;
}

.scroll {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: var(--burmedju); /* Set a background color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

.boton_subi_riba {
    background-color: var(--burmedju);
    color: var(--branku);
    border: none;
    cursor: pointer;
}

@media screen and (min-width: 280px ) and (max-width: 416px) {
    .konpu_container_burmedju {
        padding: 1rem 1.5rem;
    }

    .konpu_imaji {
        height: 45vh;
        width: 100%;
        background-size: contain;
        margin: 0;
    }

    .section_info {
        padding: 0 2rem;
    }

    .section_info > h1 {
        padding: 1rem 2;
        font-size: 1.8rem;
    }

    .grid_markason > a {
        font-size: .8rem;
        padding: 1rem 1.5rem;
    }

    .grid_info {
        grid-template-columns: 1fr;
        padding: 2rem 0;
    }

    .grid_info > div > h2 {
        font-size: 1rem;
    }

    .form_kontakitu {
        padding: 2rem;
    }

    .form_kontakitu > h2 {
        padding: 2.5rem 0;
        font-size: 1.8rem;
    }

    .contact_grid {
        grid-template-columns: 1fr;
    }

    .btn_contact {
        font-size: .8rem;
        margin-bottom: 2.5rem;
        padding: 1.2rem 2.3rem;
        background-color: var(--branku);
    }

   
}